.panel{
    display: none;
    padding:20px;
    background-color: aquamarine;
    border-radius: 10%;
    box-shadow: 0 4px rgb(rgb(45, 247, 5), rgb(255, 145, 0), rgb(0, 255, 200));
    animation: fadein 0.5s ease;
}
    
body, h1, h2, p{
    margin: 0%;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 136, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

header h1{
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin: 0%;
      animation: glow 1.5s infinite alternate;
      position: relative;
      z-index: 1;
      background: linear-gradient(90deg color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparenrt;
      text-shadow: 0 0 10px rgb(255, 145, 0);
}


#panel1:checked~#content-panel1,
#panel2:checked~#content-panel2,
#panel3:checked~#content-panel3,
#panel4:checked~#content-panel4
{
    display:block;
}

/*Animation*/
@keyframes fadein{
    from {
        opacity:0;
        transform:translatey(0);
    }
    to{
        opacity:1;
        transform: translatey(0);
    }}
/*ocultar controles*/
input[type="radio"]{
    display:none;

}

.button{
    border-radius: 20%;
    color: aquamarine;
    padding: 15px 30px;
    background-color: black;
    border:2px solid transparent;
    cursor: pointer;
    transition: all 0.3 ease;
    position: relative;
}

 /*fondo animado debajo del titulo*/
 header::before{
       content: "";
       position: absolute;
       top: 50px;
       left: 50px;
       transform:translate(-50%, 50%);
       width:120px;
       height: 150px;
       background:radial-gradient(circle rgba(23,151, 184, 0.2) transparent 70%);
 }

 /*animacion de pulso*/
@keyframes pulse {
    0% {
        transform: translate(-50% -50%) scale(1);


    }50% {
        transform: translate(-50% -50%) scale(1.2);



    }100% {
        transform: translate(-50% -50%) scale(1);
    }
}

p{
    color: black;
}


.panel img {
    width: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
}
    
.buttom:hover{
    background-color: aqua;
}
